.dev {
    padding: 120px 0;

    &-wrapper {
        display: grid;
        grid-template-columns: 1fr 1.1fr;
        align-items: center;
        justify-items: center;

        &-item {
            &-img {
                object-fit: cover;
                width: 100%;
            }
            &-title {
                &::after {
                    content: '01';
                }
            }
        }
    }
}

.item-desc {
    &-title {
        position: relative;
        font-family: $secondFont;
        font-size: 36px;
        font-weight: 800;

        &::after {
            position: absolute;
            font-family: $secondFont;
            color: inherit;
            opacity: 0.1;
            font-weight: 800;
            line-height: 120%;
            font-size: 200px;
            top: -170px;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &-description {
        color: $mainColor;
        font-family: $mainFont;
        font-weight: 400;
        font-size: 26px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    &-link {
        text-decoration: none;
        color: $mainColor;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        display: flex;
        align-items: center;
        width: 160px;
        transition: .2s linear all;
        &:hover {
            transition: .2s linear all;
            #small-arrow {
                padding-left: 5px;
                transition: .2s linear all;
            }
        }
        &-text {
            padding-top: 4px;
        }
    }
}