footer {
    z-index: 2;
}

.footer {
    padding-top: 250px;
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.down-menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-left: 13px;

    &-item {
        margin-right: 50px;

        &-link {
            @include links;

            &:hover {
                transition: .4s linear all;
                color: #F91616;
            }
        }

        &-item:last-child {
            margin-right: 0;
        }
    }
}

.soc-icons {
    display: flex;
    flex-direction: row;

    &-link {
        margin-right: 40px;

        &:hover {
            .soc-logo {
                fill: white;
                opacity: 1;
                transition: .4s linear all;
            }
        }
    }
}

.soc-logo {
    transition: .4s linear all;
}


.down-line {
    width: 300px;
    height: 1px;
    border: none;
    background-color: white;
    margin-right: 70px;
}


.contacts-wrapper {
    padding: 100px 0;
    padding-left: 13px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    max-width: 1210px;
    align-items: center;
    &-item {
        &-subtitle {
            font-size: 14px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: white;
            font-family: $mainFont;
            font-weight: 700;
            padding-bottom: 10px;
        }
        &-title {
            text-decoration: none;
            font-weight: 800;
            font-family: $secondFont;
            color: white;
            font-size: 24px;
            transition: .4s linear all;
            &:hover {
                transition: .4s linear all;
                color: #fe5c5c;
            }
        }
    }
}

.contacts-btn {
    &-feedback {
        background-color: transparent;
        border: 1px solid #F91616;
        border-radius: 50%;
        padding: 120px 60px;
        outline: none;
        color: white;
        font-size: 16px;
        font-family: $mainFont;
        font-weight: 700;
        transition: .4s linear all;
        &:hover {
            cursor: pointer;
            transition: .4s linear all;
            background-color: #F91616;
        }
    }
}

.info {
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 120px;
    }
    &-item {
        &-copyright {
            color: white;
            opacity: 0.3;
            font-family: $mainFont;
            font-size: 16px;
        }
        &-faq {
            color: white;
            opacity: 0.3;
            font-family: $mainFont;
            font-size: 16px;
            text-decoration: none;
            transition: .4s linear all;
            &:hover {
                transition: .4s linear all;
                opacity: 1;
            }
        }
        &-logo {
            transition: .4s linear all;
            &:hover .mad-logo {
                fill: #fe5c5c;
            }
            #mad-logo {
                height: 60px;
            }
        }
    }
}

.footer-bg {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mad-bg {
    position: absolute;
    bottom: 100px;
    left: 31%;
}

// modals

.modal-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-self: start;
    color: #181818;
    display: none;
    opacity: 0;
    transition: .3s;
    &.active {
        opacity: 1;
        display: flex;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #181818;
            opacity: .4;
        }
    }
}



.modal {
    z-index: 10001;
    position: relative;
    max-width: 690px;
    padding: 100px 70px;
    margin: 0 auto;
    background: #fff;
    transition: .3s;
    display: none;
    &-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 35px;
        height: 35px;
        &:hover {
            cursor: pointer;
            .modal-close-icon {
                fill: black;
                opacity: 1;
                transform: rotate(90deg);
            }
        }
        &-icon {
            fill: #181818;
            opacity: .5;
            transition: .4s linear all;
        }
    }
    &-form {
        display: flex;
        flex-direction: column;
        &-control {
            margin: 30px 0;
            border-bottom: .5px solid #181818;
            position: relative;
            padding-left: 40px;
            height: 30px;
            &-placeholder {
                color: #181818;
                font-family: $mainFont;
                position: absolute;
                top: 10%;
                left: 0;
                transform: translateY(-70%);
                transition: .4s;
            }
            &-text {
                border: none;
                outline: none;
            }
        }
        &-subwrapper {
            display: flex;
            flex-direction: row;
            padding-top: 30px;
            &-description {
                font-size: 13px;
                font-family: $mainFont;
                opacity: .6;
                color: #181818;
                margin-left: 30px;
            }
            &-link {
                text-decoration: none;
                color: #181818;
                transition: .4s;
                &:hover {
                    color: #fe4848;
                }
            }
            &-btn {
                max-width: 210px;
                width: 100%;
                height: 57px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
                outline: none;
                border: 1px solid #181818;
                line-height: 1;
                font-weight: 700;
                cursor: pointer;
                transition: .4s;
                &:hover {
                    background-color: #181818;
                    color: white;
                    transition: .4s;
                }
            }
        }
    }
}

.control-active {
    transform: translateY(-150%);
}