#mad-logo {
    width: 135px;
    height: inherit;
}

#mad-logo-sm {
    width: 100px;
}

#mbs-logo {
    width: 168px;
    height: 81px;
    padding-top: 60px;
}

#arrow-back {
    width: 89px;
    height: 19px;
}

.opened .menu-logo {
    display: block;
}


.menu {
    display: flex;
    flex-direction: row;
    z-index: 50;

    &-soc {
        display: none;
    }

    &-contacts {
        display: none;
    }

    &-line {
        display: none;

        & hr {
            max-width: 90%;
            margin: 0;

        }
    }

    &-logo {
        display: none;
    }

    &-contacts {
        & a {
            font-family: $mainFont;
            color: #fff;
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            transition: .4s linear all;

            &:hover {
                color: #F91616;
            }
        }

        & a:nth-child(2) {
            padding-left: 20px;
        }
    }



    &-item {
        padding-left: 50px;
        &-link {
            @include links;

            &:hover {
                transition: .4s linear all;
                color: #F91616;
            }
        }
    }
}

.mad-logo {
    transition: .4s linear all;
}



.opened {
    .top-bar-burger {
        &-item {
            height: 1px;
            background-color: white;
            margin-top: 5px;
            margin-top: 0;

            &:first-child {
                width: 45px;
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                width: 45px;
                transform: rotate(-45deg);
            }

            &:last-child {
                width: 0px;
            }
        }
    }
}

.top-bar {
    background-image: url('../img/header-banner.webp');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;

    &-burger {
        width: 45px;
        height: 45px;
        cursor: pointer;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        z-index: 100;
        display: none;


        &-item {
            height: 1px;
            background-color: white;
            margin-top: 5px;
            transition: .2s linear all;

            &:first-child {
                width: 45px;
            }

            &:nth-child(2) {
                width: 35px;
            }

            &:last-child {
                width: 25px;
            }
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
        position: relative;
        padding-top: 20px;

    }

    &-item {
        &-logo {
            height: 70px;
            display: block;
            transition: .4s linear all;

            &:hover .mad-logo {
                fill: #fe5c5c;
            }
        }
    }

    &-info {
        z-index: 3;
        padding-top: 130px;
        max-width: 830px;
        position: relative;

        &-title {
            font-size: 36px;
            color: white;
            font-weight: 800;
            font-family: $secondFont;
            padding-top: 25px;
            line-height: 120%;
        }

        &-subtitle {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.15em;
            color: white;
            text-transform: uppercase;
            font-family: $mainFont;
        }
    }

    &-btn {
        width: 89px;
        padding-top: 40px;

        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
        }

        &-text {
            @include links;
            padding-bottom: 10px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 2;
    }
}