head
    meta(charset='utf-8')
    title MBS Case 
    link(href='css/style.min.css', rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    script(src="https://cdn.boomcdn.com/libs/wow-js/1.3.0/wow.min.js")