main
    section.purpose
        .container
            .purpose-wrapper
                .purpose-wrapper-item.purpose-item-scene
                    h1.purpose-wrapper-item-title Цель
                    p.purpose-wrapper-item-description Повысить узнаваемость бренда в web-среде, Запуск массовой рекламной кампании с целью увеличения прибыли.
                    svg(width="500" height="500" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg" id="crosshair")
                        g(opacity="0.2")
                            path(d="M250 0V500" stroke="#F91616" stroke-width="2")
                            circle(cx="250" cy="250" r="186.5" stroke="#F91616" stroke-width="2")
                            circle(cx="250" cy="250" r="186.5" stroke="#F91616" stroke-width="2")
                            path(d="M237.794 93.0938H262.205" stroke="#F91616" stroke-width="2")
                            path(d="M237.794 126.428H262.205" stroke="#F91616" stroke-width="2")
                            path(d="M237.794 159.762H262.205" stroke="#F91616" stroke-width="2")
                            path(d="M237.794 193.094H262.205" stroke="#F91616" stroke-width="2")
                            path(d="M237.794 226.428H262.205" stroke="#F91616" stroke-width="2")
                            path(d="M237.794 273.572H262.205" stroke="#F91616" stroke-width="2")
                            path(d="M237.794 306.904H262.205" stroke="#F91616" stroke-width="2")
                            path(d="M237.794 340.238H262.205" stroke="#F91616" stroke-width="2")
                            path(d="M237.794 373.572H262.205" stroke="#F91616" stroke-width="2")
                            path(d="M237.794 406.906H262.205" stroke="#F91616" stroke-width="2")
                            path(d="M500 250L6.62706e-06 250" stroke="#F91616" stroke-width="2")
                            path(d="M406.906 237.795L406.906 262.206" stroke="#F91616" stroke-width="2")
                            path(d="M373.572 237.795L373.572 262.206" stroke="#F91616" stroke-width="2")
                            path(d="M340.238 237.795L340.238 262.206" stroke="#F91616" stroke-width="2")
                            path(d="M306.905 237.795L306.905 262.206" stroke="#F91616" stroke-width="2")
                            path(d="M273.572 237.795L273.572 262.206" stroke="#F91616" stroke-width="2")
                            path(d="M226.428 237.795L226.428 262.206" stroke="#F91616" stroke-width="2")
                            path(d="M193.094 237.795L193.094 262.206" stroke="#F91616" stroke-width="2")
                            path(d="M159.761 237.795L159.761 262.206" stroke="#F91616" stroke-width="2")
                            path(d="M126.428 237.795L126.428 262.206" stroke="#F91616" stroke-width="2")
                            path(d="M93.0945 237.795L93.0945 262.206" stroke="#F91616" stroke-width="2")
                .purpose-wrapper-item 
                    h1.purpose-wrapper-item-title Задачи
                    ol.purpose-list
                        li.purpose-list-item Разработать корпоративного сайта, лендингов под каждый продукт и квизов
                        li.purpose-list-item Разработать мини-лендингов с автоворонками в мессенджерах
                        li.purpose-list-item SEO-оптимизация корпоративного сайта
                        li.purpose-list-item Закупка платного трафика
    section.dev
        .dev-wrapper
            .dev-wrapper-item
                h1.item-desc-title.dev-wrapper-item-title Разработка Сайта
                p.item-desc-description Разработали корпоративный
                    br
                    | сайт, лендинги под каждый
                    br
                    | продукт и квизы
                a(href="#").item-desc-link 
                    span.item-desc-link-text Перейти на сайт
                    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" id="small-arrow")
                        path(d="M9 5L14 10L9 15" stroke="#181818" stroke-width="2")
            img(src="img/development.webp" data-wow-offset="500").dev-wrapper-item-img.wow.slideInRight
    section.furfose
        .furfose-wrapper
            img(src="img/phones.webp" data-wow-offset="500").furfose-wrapper-item-img.wow.slideInUp
            .furfose-wrapper-item
                h1.item-desc-title.furfose-wrapper-item-title Автоворонки
                p.item-desc-description Разработали мини-лендинги
                    br
                    | с автоворонками в мессенджерах
                p.furfose-wrapper-item-description Клиент переходит на удобный ему мессенджер,
                    br
                    |где попадает на канал и получает мотивирующий 
                    br
                    |контент, там же может оставить свои контакты для 
                    br
                    |дальнейшей работы
    section.seo
            .seo-wrapper
                .seo-wrapper-item
                    h1.item-desc-title.seo-wrapper-item-title SEO-оптимизация
                        br
                        | корпоративного сайта
                    p.item-desc-description Подняли в топ по актуальным
                        br
                        | ключевым словам
                img(src="img/form.webp" data-wow-offset="500").seo-wrapper-item-img.wow.slideInUp


