@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1400px) {
    .footer {
        &-wrapper {
            &-item {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1340px) {
    .traffic {
        &-wrapper {
            justify-items: center;
            &-item {
                padding-right: 0;
            }
        }
    }
}

@media screen and (max-width: 1243px) {
    .dev {
        &-wrapper {
            &-item {
                padding: 0 15px;
            }
        }
    }
    .seo {
        &-wrapper {
            grid-template-columns: 1fr;
            padding-top: 50px;
            &-item {
                padding: 0 15px;
                &-img {
                    padding-right: 0;
                }
            }
        }
    }
    .furfose {
        &-wrapper {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            &-item {
                padding: 0 15px;
                &-img {
                    padding-right: 0;
                    padding-top: 20px;
                    width: 60%;
                object-fit: cover;
                }
            }
        }
    }
    #crosshair {
        width: 250px;
        height: 250px;
        top: -15px;
        left: 60px;
    }
    .purpose {
        &-list {
            
            padding-left: 18px;
            &-item {
                font-size: 22px;
            }
        }
        &-wrapper {
            &-item {
                &-title {
                    font-size: 28px;
                }
                &:last-child {
                    padding-top: 50px;
                }
                &-description {
                    font-size: 22px;
                }
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    .info{
        &-wrapper {
            flex-direction: column-reverse;
            justify-content: center;
           text-align: center;
        }
    }
    .soc-icons {
        &-link {
            margin: 0 20px;
        }
    }
    .footer {
        &-wrapper {
            justify-content: center;
            &-item {
                &:first-child {
                    display: none;
                }
            }
        }
    }
    .contacts {
        &-wrapper {
            padding: 50px 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            &-item {
                margin-top: 20px;
            }
        }
        &-btn {
            &-feedback {
                padding: 10px 20px;
                border-radius: 10px;
                
            }
        }
    }
}

@media screen and (max-width: 978px) {
    .result {
        &-wrapper {
            &-grid {
                display: none;
            }
            &-item {
                width: 80%;
                max-width: 100%;
                &-description {
                    font-size: 22px;
                }
            }
        }
    }
    #arrow {
        transform: translate3d(0px, 0px, 0px);
        left: 15px;
        top: 0px;
        width:125px;
        height: 125px;
    }
    .traffic {
        &-wrapper {
            grid-template-columns: 1fr;
            &-item {
                order: 1;
                padding: 100px 15px 0px 15px;
                &-img {
                    order: 2;
                    & img{
                        width: 250px;
                        height: 250px;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 869px) {
    #mad-bg {
        left: 0;
        width: 100%;
    }
    .item-desc-title {
        font-size: 28px;
        &::after {
            font-size: 100px;
            top: -80px;
        }
    }
    .item-desc-description {
        font-size: 24px;
    }
    .dev {
        &-wrapper {
            grid-template-columns: 1fr;
            margin-top: 50px;
            &-item {
                &:first-child {
                    margin-bottom: 40px;
                }

            }
        }
    }
    .menu {
        z-index: 50;
        background-color: #181818;
        position: fixed;
        right: 0;
        height: 100vh;
        width: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform .4s ease-in;
        align-items: center;
        margin-top: 0;
        justify-content: left;
        overflow-y: auto;
        overflow: hidden;
        &-item {
            margin: 0;
            width: 100%;
            margin-top: 30px;

            &-link {
                font-size: 20px;
            }
        }

        &-sm {
            transform: translateX(0);
        }

        &-contacts {
            display: block;
        }

        &-line {
            display: block;

            &-hr {
                @media screen and (max-width: 468px) {
                    max-width: 80%;
                }
            }
        }

        &-soc {
            display: block;
        }
    }

    .top-bar {
        &-burger {
            display: flex;
        }

        &-info {
            &-title {
                font-size: 25px;
            }
        }
    }

    #mbs-logo {
        width: 100px;
        height: 50px;
        padding-top: 40px;
    }

}

@media screen and(max-width: 578px) {
    #crosshair {
        left: 0;
        top: 20px;
    }
    .modal {
        padding: 50px 30px;
        &-form {
            &-subwrapper {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                &-btn {
                    margin-top: 20px;
                    height: 40px;
                    width: 170px;
                }
                &-description {
                    text-align: center;
                    margin-left: 0;
                }
            }
            &-control {
                &-placeholder {
                    font-size: 14px;
                }
            }
        }
        &-close {
            width: 25px;
            height: 25px;
        }
    }
}

@media screen and (max-width: 468px) {
    .result {
        padding-top: 0;
        &-title {
            font-size: 30px;
            padding-left: 0;
        }
        &-wrapper {
            &-item {
                width: 100%;
                max-width: 100%;
                margin: 20px 0;
                &-description {
                    font-size: 18px;
                }
            }
        }
    }
    .item-desc-title {
        font-size: 20px;
    }
    .item-desc-description {
        font-size: 18px;
    }
    .dev {
        &-wrapper {
            justify-items: left;
        }
    }
    .furfose {
        &-wrapper {
            justify-items: left;
        }
    }
    .seo {
        &-wrapper {
            justify-items: left;
            &-item {
                &-img {
                    padding: 0 15px;
                }
            }
        }
    }
    .traffic {
        &-wrapper {
            justify-items: left;
        }
    }
    .purpose {
        &-list {
            &-item {
                font-size: 18px;
            }
        }
        &-wrapper {
            &-item {
                &:last-child {
                    padding-right: 0;
                }
                &-description {
                    font-size: 18px;
                }
            }
        }
    }
}