* {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
}

ol {
    margin: 0;
}



h1, h2, h3,h4,h5,h6 {
    margin: 0;
}
p,span {
    margin: 0;
}

.container {
    max-width: $containerWidth;
    padding: $containerPadding;
    margin: 0 auto;
}